a {
  transition: 0.5s;

  &,
  &:link,
  &:visited {
    color: initial;
    text-decoration: none;
  }

  &:hover {
    color: $primary;
  }
}

.btn-secondary {
  background-color: $night-rider;
  color: $white !important;
}

.body-wrapper {
  overflow: hidden;
}
