.blog {
  &-page {
    padding-top: 6rem !important;
    background-image: url(../images/blog_bg.png);
  }

  .page-title {
    //
  }

  &-card {
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    padding: 1rem;
    background-color: $white;
    margin-bottom: 1.5rem;
  }
}
