nav {
  position: fixed;
  background: $white;
  z-index: 1000;
  width: 100%;
  padding: 1.125rem;
  display: none;
  box-shadow: $box-shadow;

  &#main-nav-subpage {
    display: block !important;
  }

  .nav-menu-large {
    display: none;

    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;

      li {
        font-size: 0.875rem;
        padding-left: 3.4rem;

        a {
          white-space: nowrap;
          font-weight: 500;
          line-height: 1rem;
          letter-spacing: 0.02em;
          text-transform: capitalize;
        }
      }
    }
  }

  .nav-menu {
    line-height: 2rem;
    margin-bottom: 0;
    margin-top: 40px;
    display: none;
    width: 100%;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      li {
        font-size: 1.125rem;
        padding: 0.5rem 0;
        border-top: 1px solid #f7f7f7;
        width: 100%;
        text-align: center;

        a {
          font-weight: 500;
          line-height: 16px;
          letter-spacing: 0.02em;
          text-transform: capitalize;
        }
      }
    }
  }

  .main-nav-top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      float: left;

      img {
        max-height: 50px;
        max-width: 270px;
      }
    }

    .responsive {
      font-size: 1.5rem;
    }
  }
}

.active {
  color: #afafaf;
}

@media (min-width: 400px) {
  nav {
    .main-nav-top-content {
      .logo {
        img {
          max-width: none;
        }
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  nav {
    .nav-menu-large {
      display: initial;
    }

    .responsive {
      display: none;
    }
  }
}
